<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>



<h1>UNSERE LEISTUNGEN</h1>

<br /><br /><br />

<div class="cards">
  <main>
    <div class="card">
      <img src="/assets/images/code.jpg" alt="" />
      <div class="card-content">
        <h2>Consulting</h2>
        <p>
          Sie wachsen, aber ihre IT wächst nicht mit? Sie benötigen
          Entscheidungsgrundlagen? Ihr Softwareprojekt stockt und sie brauchen
          Impulse von Außen? Das können wir gut und machen wir gerne!
        </p>
        <a href="#" class="button">
          Find out more
          <span class="material-symbols-outlined"> arrow_right_alt </span>
        </a>
      </div>
    </div>
  </main>



  <main>
    <div class="card">
      <img src="/assets/images/tech.jpg" alt="" />
      <div class="card-content">
        <h2>IT-Infrastuktur</h2>
        <p>
          Wir kennen KMU - denn wir sind selbst eines. Eine schlanke
          Infrastruktur mit Augenmaß ist unser Ansatz. Diese Praxis ist über die
          Jahre erprobt und gehärtet. Wir betreuen ihre Systeme oder ihre
          IT-MitarbeiterInnen - wie es zu ihnen passt.
        </p>
        <a href="#" class="button">
          Find out more
          <span class="material-symbols-outlined"> arrow_right_alt </span>
        </a>
      </div>
    </div>
  </main>



  <main>
    <div class="card">
      <img src="/assets/images/laptop-2589420_1920.jpg" alt="" />
      <div class="card-content">
        <h2>Entwicklung</h2>
        <p>
          Lassen sie uns gemeinsam Software entwickeln! Ob wir ihr Projekt als
          Werksarbeit umsetzen sollen, sie Unterstützung für ihre bestehenden
          Projekte benötigen, oder eventuell noch gar nicht wissen wie sie ihre
          Entwicklung angehen sollen - wir tun dies jeden Tag und gehen mit
          ihnen gemeinsam voran.
        </p>
        <a href="#" class="button">
          Find out more
          <span class="material-symbols-outlined"> arrow_right_alt </span>
        </a>
      </div>
    </div>
  </main>
</div>




<div class="cont">
  <div class="speed-dial">
    <a class="toggle bg-share"><span class="fa fa-share-alt"></span></a>
    <ul class="dials">
      <li>
        <a class="bg-twitter" href="#"><i class="fa-brands fa-twitter"></i></a>
      </li>

      <li>
        <a class="bg-facebook" href="#"
          ><i class="fa-brands fa-facebook"></i
        ></a>
      </li>
      <li>
        <a class="bg-youtube" href="#"><i class="fa-brands fa-youtube"></i></a>
      </li>
    </ul>
  </div>




<div class="photo">
  <img src="/assets/images/cs23-logo.png" class="logoo" />

  <!-- <button class="footer-btn" type="button">
    <a href="cs23/datenschutz/datenschutz.html">Datenschutz</a>
</button> -->
</div>


  <div class="info">
    <div>
      <div>
        <a href="https://flowbite.com/" class="flex items-center"> </a>
      </div>

      <div class="link">
        <h3>currentsystem23</h3>
        <ul>
          <li class="mb-4">
            <a href="www.currentsystem23.de" class="hover:underline"
              >Jahnring 41 39104 Magdeburg</a
            >
          </li>
          <li>
            <a href="www.currentsystem23.de" class="hover:underline"
              >+49 391 2430620</a
            >
          </li>
          <li>
            <a href="www.currentsystem23.de/" class="hover:underline"
              >infocurrentsystem23.de</a
            >
          </li>
        </ul>
      </div>
    </div>

    <hr />
    <div>
      <span>
        2024
        <a href="https://www.currentsystem23.de/" class="hover:underline"
          >currentsystem23</a
        >. Wir gestalten Ihren Digitalen Erfolg
      </span>
    </div>
  </div>
</div>
