<body>
  <h1>
    CurrentSystem 23 GmbH ist Ihr Partner rund um die Softwareentwicklung!
  </h1>
  <h2>
    Wir bieten ein umfangreiches Leistungsspektrum, um Sie bei Ihren IT-Vorhaben
    erfolgreich sein zu lassen
  </h2>
  <p>
    CurrentSystem 23 GmbH ist ein unabhängiger IT-Dienstleister im
    Microsoft-.NET-Umfeld. Wir erbringen Leistungen über den gesamten
    Softwarelebenszyklus - von der ersten Anforderung über die Realisierung,
    Einführung, den Betrieb bis hin zur Migration bei Einstellung des Betriebs.
    Die IT-Entwicklungsschwerpunkte liegen dabei in der Planung, Architektur und
    Umsetzung sowohl von Desktop- als auch von Webapplikationen. Eine besondere
    Herausforderung stellen dabei immer wieder hybride Szenarien dar. Ein
    weiterer Schwerpunkt liegt in der Beratung und Administration sowie dem
    Betrieb von Infrastruktur.
  </p>
 
  <div class="projekt">
    <img src="/assets/images/projekt2.jpg" alt="" />
    <img src="/assets/images/projekt3.jpg" alt="" />
    <img src="/assets/images/projekt1.jpg" alt="" />
  </div>
</body>
 <br><br><br><br> <br><br><br><br>